@import '~antd/dist/antd.css';


.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: center;
}
.login-form-button {
  width: 100%;
}
.first-form {
  max-width: 500px;
}
.second-form {
  max-width: 500px;
}
.p-center{
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.p-right{
  text-align: right;
}
.btn-submit{
  margin: 2cm;
  text-align: center;
  align-items: center;
  align-content: center;
}


